.budget-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--space-md);
}

@media screen and (max-width: 640px) {
  .budget-grid {
    grid-template-columns: 1fr;
  }
}
